html {
    height: 100%;
    width: 100%;
  }

  @media (max-width: 768px) {
    body {
      flex-direction: column;
      height: auto;
    }
  
    #winowApplications {
      padding: 8px;
    }
  
    #projects, #contact, #aboutMe, #resume {
      width: 90%;
      max-width: 400px;
    }
  
    p {
      font-size: 14px;
    }
  }

  body background-image {
    background-image: url('images/wallpaper3.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  .thomas_message {
    background-color: #F6F6F6;
    padding: 12px;
    width: fit-content;
    max-width: 240px;
    border-radius: 16px;
  }
  
  .my_message {
    color: #FFF;
    background-color: #CE41FF;
    padding: 12px;
    width: fit-content;
    max-width: 240px;
    border-radius: 16px;
    margin-left: auto;
  }
  
  
  a {
    text-decoration: none;
  }

  #projects {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#projectshandle {
    padding: 8px;
}

.project-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    background-color: #f9f9f9;
    margin-bottom: 16px;
}

.project-title {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.project-description {
    margin: 4px 0;
    color: #555;
}

.project-link {
    color: #4E75FF;
    text-decoration: none;
}